<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vantjac.voxel.plugin"
    android:versionCode="1"
    android:versionName="1.0">
  <application>
    <!-- https://github.com/ChrisMaire/unity-native-sharing/issues/33#issuecomment-346729881 -->
    <provider android:name="androidx.core.content.FileProvider"
              android:authorities="com.vantjac.voxel.provider"
              android:exported="false"
              android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
    </provider>
  </application>
</manifest>
